body{

    font-family: 'The Girl Next Door', cursive;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(black, grey);
    color : white;
}

header{
    width: 100%;
}

h1{
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-family: fantasy;
    text-transform: uppercase;
}

#side2{
    display: none;
}

h2{
    font-size: 2.5em;
    text-align: center;
    -webkit-text-align: center;
}

section{
    display: block;
    justify-content: center;
    box-shadow: 0 35px 20px rgb(39, 35, 35);
    margin: 10px auto;
    padding: 10px;
    width: 550px;
    word-break: break-word;
}

#EE{
    background-color: rgba(110, 199, 107, 0.979);
}

#IG{
    background-color: #d1d144f6;
}

#CP{
    background-color: rgba(197, 121, 197, 0.973);
}

#MH{
    background-color: rgb(107, 163, 226);
}

#ECO{
    background-color: rgba(86, 136, 70, 0.993);
}

#JU{
    background-color: rgba(233, 79, 79, 0.966);
}

#EE, #IG, #CP, #MH, #ECO, #JU{
    /*border-radius: 10%;*/
    transition: all 1s;
}

#EE:hover, #CP:hover, #ECO:hover{
    transform: scale(1.1) rotate(3deg);
}

#IG:hover, #MH:hover, #JU:hover{
    transform: scale(1.1) rotate(-3deg);
}

#EE:hover, #CP:hover, #ECO:hover, #IG:hover, #MH:hover, #JU:hover{
    box-shadow: 0px 35px 20px black;
}

section:hover{
    box-shadow: 0px 35px 20px black;
}

section:hover .child{
    text-transform: uppercase;
    color: rgb(252, 164, 1);
}

span{
    color: rgb(252, 1, 197);
    text-decoration: underline;
}

li{
    list-style-type: "\1F44D";
}

footer{
    text-align: center;
    width: 100%;
}

header{
    transition: all 1s;
}

header:hover{
    transform: rotateY(180deg);
}

header:hover #side1{
    display: none;
}

header:hover #side2{
    display: block;
    transform: rotateY(-180deg);
}